@model ChangePasswordViewModel;

@{
	ViewData["Title"] = "Change Password";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="login">
	<img src="~/log-blue-bg.jpg" alt="image" class="login__bg" />

	<form class="login__form" asp-action="ChangePassword" method="post">
		@Html.AntiForgeryToken()
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<h1 class="login__title">Change Password</h1>
		<div class="login__inputs">
			<div class="login__box">
				<input asp-for="Email" required placeholder="Enter your email" class="login__input" />
				<i class="ri-mail-fill"></i>
				<div class="text-danger">
					@Html.ValidationMessageFor(model => model.Email)
				</div>
			</div>

			<div class="login__box">
				<input asp-for="NewPassword" required placeholder="Enter new password" class="login__input" />
				<i class="ri-lock-2-fill"></i>
				<div class="text-danger">
					@Html.ValidationMessageFor(model => model.NewPassword)
				</div>
			</div>
			<div class="login__box">
				<input asp-for="ConfirmNewPassword" required placeholder="Confirm new password" class="login__input" />
				<i class="ri-lock-2-fill"></i>
				<div class="text-danger">
					@Html.ValidationMessageFor(model => model.ConfirmNewPassword)
				</div>
			</div>
		</div>

		<button type="submit" class="login__button" value="Login">Submit</button>

		<div class="login__register">
			<a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none text-white">Back</a>
		</div>

	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}
