@model LoginViewModel

@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="login">
	<img src="~/log-blue-bg.jpg" alt="image" class="login__bg" />

	<form class="login__form" asp-action="Login" method="post">
		@Html.AntiForgeryToken()
		<h1 class="login__title">Login</h1>

		<div class="text-danger">
			@Html.ValidationSummary(true, "", new {@class = "text-danger"})
		</div>

		<div class="login__inputs">
			<div class="login__box">
				<input asp-for="Login" required placeholder="Username/Email" class="login__input" />
				<i class="ri-mail-fill"></i>
				<div class="text-danger">
					@Html.ValidationMessageFor(model => model.Login)
				</div>
			</div>

			<div class="login__box">
				<input asp-for="Password" required placeholder="Password" class="login__input" />
				<i class="ri-lock-2-fill"></i>
				<div class="text-danger">
					@Html.ValidationMessageFor(model => model.Password)
				</div>
			</div>
		</div>


		<div class="login__check">
			<div class="login__check-box">
				<div class="login__check-left">
					<input asp-for="RememberMe" class="login__check-input" id="user-check" />
					<label for="user-check" class="login__check-label">Remember me</label>
				</div>
				<div class="login__check-right">
					<label class="login__check-label">
						<a asp-controller="Account" asp-action="VerifyEmail">Forgot Password?</a>
					</label>
				</div>
			</div>
		</div>


		<button type="submit" class="login__button" value="Login">Login</button>

		<div class="login__register">
			Don't have an account? <a asp-controller="Account" asp-action="Register" class="text-decoration-none text-white">Register</a>
		</div>

	</form>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}
