@inject SignInManager<Users> signInManager;

<ul class="navbar-nav ms-auto align-items-center login-register-container">
    @if (!signInManager.IsSignedIn(User))
    {
        
        <li class="nav-item">
            <a class="nav-link btn custom-btn" asp-controller="Account" asp-action="Login">
                Login
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn custom-btn" asp-controller="Account" asp-action="Register">
                Register
            </a>
        </li>
    }  
</ul>

<style>
    .logout-btn:hover {
        color: rgba(255, 255, 255, 0.5) !important; 
    }
</style>